// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$member-name: 'member';
$member-x: 0px;
$member-y: 0px;
$member-offset-x: 0px;
$member-offset-y: 0px;
$member-width: 28px;
$member-height: 28px;
$member-total-width: 48px;
$member-total-height: 28px;
$member-image: '~sprite.png';
$member: (0px, 0px, 0px, 0px, 28px, 28px, 48px, 28px, '~sprite.png', 'member', );
$oldinew-icon-name: 'oldinew-Icon';
$oldinew-icon-x: 28px;
$oldinew-icon-y: 0px;
$oldinew-icon-offset-x: -28px;
$oldinew-icon-offset-y: 0px;
$oldinew-icon-width: 20px;
$oldinew-icon-height: 20px;
$oldinew-icon-total-width: 48px;
$oldinew-icon-total-height: 28px;
$oldinew-icon-image: '~sprite.png';
$oldinew-icon: (28px, 0px, -28px, 0px, 20px, 20px, 48px, 28px, '~sprite.png', 'oldinew-Icon', );
$spritesheet-width: 48px;
$spritesheet-height: 28px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($member, $oldinew-icon, );
$spritesheet: (48px, 28px, '~sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
