body {
  /* background: url('./img/kic.jpg') no-repeat; */
  background: #2b3a42;
}

.pure-button {
  /* -webkit-border-radius: 1em;
  border-radius: 1em; */
  /* background: url('./img/kic.jpg') no-repeat; */
  /* width: 300px;
  height: 300px; */
  font-family: 'dbmanx';
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
  color: #fff;
}
.webpack-img {
  display: block;
  width: 244px;
  height: 70px;
  margin-left: 30px;
  margin-top: 50px;
}
@font-face {
  font-family: 'dbmanx';
  src: url('./fonts/dbadmanx.ttf') format('truetype');
}
